@inject IStringLocalizer<App> Localizer
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">@Localizer["Hello"], @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">@Localizer["Logout"]</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">@Localizer["Register"]</a>
        <a href="Identity/Account/Login">@Localizer["Login"]</a>
    </NotAuthorized>
</AuthorizeView>
