@attribute [Authorize]
@page "/BankAccount/BankAccounts"
@inject IStringLocalizer<App> Localizer
@using BankSystem.Data
@inject BankSystem.IService.IBankAccountService  BankAccountService
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
<div class="titleicon">
    <span class="oi oi-person" aria-hidden="true"></span>
    <h1>@Localizer["BanksAccount"]</h1>
</div>
<AuthorizeView Context="AuthorizeContext">
    <Authorized>
        <br />
        <RadzenButton Icon="add_circle_outline" style="margin-bottom:10px; margin-left:1350px;" Text="اضافة" Click="@InsrtRow" />
        <RadzenCard>
            @if (BankAccountList == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <RadzenGrid @ref="BankAccountGrid" AllowFiltering="true"
                            AllowPaging="true" PageSize="10"
                            AllowSorting="true" EditMode="DataGridEditMode.Multiple"
                            Data="@BankAccountList" TItem="BankAccount">
                    <Columns>
                        <RadzenGridColumn TItem="BankAccount" Property="bank.BankName" Title="@Localizer["Banks"]" />
                        <RadzenGridColumn TItem="BankAccount" Property="AccountNumber" Title="@Localizer["AccountNumber"]" />
                        <RadzenGridColumn TItem="BankAccount" Property="currency.CurrencyCode" Title="@Localizer["Currencies"]" />
                        <RadzenGridColumn TItem="BankAccount" Property="al:web:url" Title="@Localizer["Edit"]" Filterable="false">
                            <Template Context="BankAccount">
                                <RadzenButton Text="@Localizer["Edit"]" Icon="edit" Click="@(args => Edit(BankAccount))" id="bnt-style-general" />
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="BankAccount" Property="al:web:url" Title="@Localizer["Delete"]" Filterable="false">
                        <Template Context="BankAccount">
                         <RadzenButton Text="@Localizer["Delete"]" Icon="delete" Click="@(args => Delete(BankAccount))" id="bnt-style-general" />
                        </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            }
        </RadzenCard>

    </Authorized>
</AuthorizeView>


@code {
    RadzenGrid<BankAccount> BankAccountGrid;
    List<BankAccount> BankAccountList = new List<BankAccount>();
    BankAccount NewBankAccount = new BankAccount();
    protected override async Task OnInitializedAsync()
    {
        BankAccountList = await Task.Run(() => BankAccountService.GetBankAccount());
    }
    protected void Edit(BankAccount UpdateBankAccount)
    {

        NavigationManager.NavigateTo("BankAccount/EditBankAccount/" + UpdateBankAccount.Id);
    }
    async Task Delete(BankAccount DeleteBankAccount)
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "هل تريد مسح الحساب البنكي؟ ");
        if (confirmed)
        {
            DeleteBankAccount.DeleteDate = DateTime.Now;
            DeleteBankAccount.IsDeleted = true;
            BankAccountService.UpdateBankAccount(DeleteBankAccount);
            BankAccountList.Remove(DeleteBankAccount);
            BankAccountGrid.Reload();
        }
    }
    protected void InsrtRow()
    {
        NavigationManager.NavigateTo("BankAccount/AddBankAccount/");
    }

}
